<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML API</title>
</head>
<body>
    <div class="login">
    <h1> Salary Prediction</h1>
    <form action="/predict" method="post">
        <input type="text" name="experience" placeholder="Experience" required="required">
        <input type="text" name="test_score" placeholder="Test Score" required="required">
        <input type="text" name="interview_score" placeholder="Interview Score" required="required">
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Predict</button>
    </form>
    <br>
    <br>
    {{ prediction_text }}
    
</div>
    
</body>
</html>